[submodule "constexpr_map"]
	path = constexpr_map
	url = https://github.com/water-chika/constexpr_map
[submodule "cpp_helper"]
	path = cpp_helper
	url = https://github.com/water-chika/cpp_helper
[submodule "spirv_parser"]
	path = spirv_parser
	url = https://github.com/water-chika/spirv_parser
[submodule "vulkan_layer"]
	path = vulkan_layer
	url = https://github.com/water-chika/vulkan_layer
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "hip_dummy"]
	path = hip_dummy
	url = https://github.com/water-chika/hip_dummy
[submodule "map_file"]
	path = map_file
	url = https://github.com/water-chika/map_file
[submodule "win32_helper"]
	path = win32_helper
	url = https://github.com/water-chika/win32_helper
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
